Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

ci: sync pre-commit (#302)
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: update makefile
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update makefile (#303)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties.license
  gradlew
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): java (#304)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties.license
  gradlew
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

ci: fix publish
  .github/workflows/gh-publish.yml
  .github/workflows/update-java.yml
  Makefile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

ci: fix publish (#305)
  .github/workflows/gh-publish.yml
  .github/workflows/update-java.yml
  Makefile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#306)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#307)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: sync makefile
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: sync makefile (#308)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: push before creating a PR too
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: push before creating a PR too (#309)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildSrc/gradle.lockfile
Due: none

chore(deps): java (#314)
  buildSrc/gradle.lockfile
Due: none

ci: automerge python dependencies
  .github/renovate.json5
Due: none

ci: automerge python dependencies (#316)
  .github/renovate.json5
Due: none

ci: update github actions to use concrete versions
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: update github actions to use concrete versions (#317)
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
  .github/workflows/pre-commit.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

chore(deps): java (#318)
  buildSrc/gradle.lockfile
Due: none

ci: fix renovate
  .github/renovate.json5
Due: none

ci: fix renovate (#319)
  .github/renovate.json5
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#324)
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#325)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#328)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#329)
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#330)
  buildSrc/gradle.lockfile
Due: none

chore(deps): java (#333)
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#334)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none
