Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): update dependencies in gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

style(checkstyle): expand JavadocVariable accessModifiers to include public
  .config/checkstyle/main.xml
Due: none

build/gradle 9 (#409)
  .config/checkstyle/main.xml
  README.md
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

feat(license)!: update to GPLv3 with Classpath Exception 2.0
  .lintstagedrc.yml
  LICENSES/Classpath-exception-2.0.txt
  LICENSES/GPL-3.0-or-later.txt
  LICENSES/MIT.txt
  README.md
  module/git/src/main/java/com/xenoterracide/gradle/git/Describer.java
  module/git/src/main/java/com/xenoterracide/gradle/git/DistanceCalculator.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitDirectoryValueSource.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadata.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitPlugin.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitStatus.java
  module/git/src/main/java/com/xenoterracide/gradle/git/IterableTools.java
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/git/src/main/java/com/xenoterracide/gradle/git/NoExecSystemReader.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/git/src/main/java/com/xenoterracide/gradle/git/Provides.java
  module/git/src/main/java/com/xenoterracide/gradle/git/TryGit.java
  module/git/src/main/java/com/xenoterracide/gradle/git/package-info.java
  module/git/src/test/java/com/xenoterracide/gradle/git/GitMetadataImplTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
  module/git/src/testFixtures/java/com/xenoterracide/gradle/git/fixtures/CommitTools.java
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/package-info.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat(license)!: update to GPLv3 with Classpath Exception 2.0 (#410)
  .lintstagedrc.yml
  LICENSES/Classpath-exception-2.0.txt
  LICENSES/GPL-3.0-or-later.txt
  LICENSES/MIT.txt
  README.md
  module/git/src/main/java/com/xenoterracide/gradle/git/Describer.java
  module/git/src/main/java/com/xenoterracide/gradle/git/DistanceCalculator.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitDirectoryValueSource.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadata.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitPlugin.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitStatus.java
  module/git/src/main/java/com/xenoterracide/gradle/git/IterableTools.java
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/git/src/main/java/com/xenoterracide/gradle/git/NoExecSystemReader.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/git/src/main/java/com/xenoterracide/gradle/git/Provides.java
  module/git/src/main/java/com/xenoterracide/gradle/git/TryGit.java
  module/git/src/main/java/com/xenoterracide/gradle/git/package-info.java
  module/git/src/test/java/com/xenoterracide/gradle/git/GitMetadataImplTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
  module/git/src/testFixtures/java/com/xenoterracide/gradle/git/fixtures/CommitTools.java
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/package-info.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: fix lintstaged yaml configuration
  .lintstagedrc.yml
Due: none

chore: update lintstaged config with refined license specs and file pattern adjustments
  .lintstagedrc.yml
Due: none

chore: refine GitHub workflows with path ignores and improved SHA handling
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

Update and fix lintstaged configuration (#411)
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
  .github/workflows/update-java.yml
  .lintstagedrc.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#412)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#413)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#414)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#416)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#418)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#419)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#420)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#421)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#422)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#423)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#424)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#425)
  buildscript-gradle.lockfile
Due: none

refactor: simplify file matching patterns in .lintstagedrc.yml
  .lintstagedrc.yml
Due: none

ci: update workflows to run on ubuntu-22.04 and remove ignored file paths
  .github/workflows/build.yml
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

refactor: simplify file matching patterns in .lintstagedrc.yml (#429)
  .github/workflows/build.yml
  .github/workflows/full.yml
  .lintstagedrc.yml
Due: prettier --cache --ignore-unknown --write

chore: update GitHub Actions workflow to use 'develop' as default branch
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

chore: update GitHub Actions workflow to use 'develop' as default branch (#431)
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

Update workflows to use 'develop' branch as the target
  .github/workflows/build.yml
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

chore(deps): update dependency ubuntu to v24 (#430) (#433)
  .github/workflows/build.yml
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
