Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
# Documentation
"*.{md,adoc}":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"*.{xml,yml,yaml,properties,toml,json5}":
  - &cc0 "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
".{editorconfig,gitattributes,mailmap}":
  - *cc0
  - *prettier
".*ignore":
  - *cc0
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore(deps): java (#612)
  buildscript-gradle.lockfile
Due: none

docs: update README for semver 0.16 and GitHub workflow changes
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#613)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#614)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#615)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#616)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#617)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#618)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#619)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#620)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#621)
  buildscript-gradle.lockfile
Due: none

chore: update python
  .tool-versions
Due: none

chore: add hashes to python requirements
  requirements.txt
Due: none

chore: update package.json for python hashes
  package.json
Due: none

chore: update python (#623)
  .tool-versions
  package.json
  requirements.txt
Due: none

chore: update lockfiles
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
  package.json.license
Due: none

chore: update lockfile
  buildSrc/gradle.lockfile
Due: none

chore: update to gradle-convention 0.16+ and clean up buildSrc plugins
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  gradle/libs.versions.toml
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

ci: use externalized xenoterracide/github workflows
  .github/workflows/pre-commit.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: add AGENTS.md
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: fix kotlin formatting
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update to gradle-convention 0.17.+
  buildSrc/gradle.lockfile
  gradle.lockfile
  gradle/libs.versions.toml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update AGENTS.md
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: address PR comments for gradle-convention 0.17 update
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  gradle/libs.versions.toml
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: properly restore testIntegration suite and JUnit 6 dependencies
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: use correct JUnit 6 ArgumentsProvider method signature
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: use standard version catalog syntax for javadoc plugin
  buildSrc/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update to gradle-convention 0.16+ and clean up buildSrc plugins (#625)
  AGENTS.md
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  gradle.lockfile
  gradle/libs.versions.toml
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

ci: consolidate workflows and fix publishing
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

ci: consolidate workflows and fix publishing (#627)
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

feat: redesign semver calculation with state machine pattern
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionState.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionStateMachine.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format
