Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): update node (#238)
  package-lock.json
Due: none

chore: more split progress
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/GitMetadataExtensionAdapter.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: more split progress
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: should compile
  module/git/src/main/java/com/xenoterracide/gradle/git/GitPlugin.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: compiling git impl
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: some restructuring so we don't have to parse a null
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: make semver builder take a Semver
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: disable branch output
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: readd vstring substring
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix some tests
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: create integration test as a separate run
  module/semver/build.gradle.kts
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionSortTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: ensure check runs integration tests
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: update progress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: update semver
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: partial progress fixing vstring parsing
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: comment out branch test for now
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: remove unused test
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: checkstyle
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: more checkstyle
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: more checkstyle
  module/git/src/main/java/com/xenoterracide/gradle/git/Describer.java
  module/git/src/main/java/com/xenoterracide/gradle/git/DistanceCalculator.java
  module/git/src/main/java/com/xenoterracide/gradle/git/TryGit.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: more checkstyle and javadoc
  module/git/src/main/java/com/xenoterracide/gradle/git/BranchOutput.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitDirectoryValueSource.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitPlugin.java
  module/git/src/main/java/com/xenoterracide/gradle/git/HeadBranchNotAvailable.java
  module/git/src/main/java/com/xenoterracide/gradle/git/NoExecSystemReader.java
  module/git/src/main/java/com/xenoterracide/gradle/git/Provides.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: more checkstyle and javadoc
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix more checkstyle
  .config/checkstyle/test.xml
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix more checkstyle
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: finish fixing checkstyle issues
  .config/checkstyle/testFixtures.xml
  buildSrc/src/main/kotlin/our.checkstyle.gradle.kts
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: fix compile time dependency issues
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

refactor: allow both modules to have testIntegration
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/git/build.gradle.kts
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: fix git plugin test
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/TryGit.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/integration/GradlePluginIntegrationTest.java
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: moar progress on fixing plugin integration tests
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/Provides.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix semver plugin integration test
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: progress but fat jars are too fat
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/git/build.gradle.kts
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: fix build health
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: fix git
  module/git/gradle.lockfile
Due: none

test: readd integration suite
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/git/gradle.lockfile
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/gradle.lockfile
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove shadow
  module/semver/build.gradle.kts
  module/semver/buildscript-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: add missing checkstyle config
  .config/checkstyle/testIntegration.xml
Due: none

test: fix buildHealth
  build.gradle.kts
  module/git/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: cover GitService better
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: GitExtension
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: remove head branch noise
  module/git/src/main/java/com/xenoterracide/gradle/git/BranchOutput.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/main/java/com/xenoterracide/gradle/git/HeadBranchNotAvailable.java
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/git/src/main/java/com/xenoterracide/gradle/git/RemoteForHeadBranch.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
