Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: fix coverage
  module/git/src/main/java/com/xenoterracide/gradle/git/Describer.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: fix code
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: dogfood updates
  build.gradle.kts
  buildscript-gradle.lockfile
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: dogfood updates (#242)
  build.gradle.kts
  buildscript-gradle.lockfile
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#244)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  package-lock.json
Due: none

chore(deps): update node (#245)
  package-lock.json
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#247)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): update node (#248)
  package-lock.json
Due: none

feat: use "git" string instead of "g" and add additional distance
  README.md
  module/git/README.md
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: use "git" string instead of "g" and add additional distance (#251)
  README.md
  module/git/README.md
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix assumptions test to match new patterns
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix assumptions test to match new patterns (#252)
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: refactor semver builder to support branch recognition
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: refactor semver extension to compare head branch and local branch
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: branch should be be "null" if same as head branch
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: convert non alpha numeric characters to dashes
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: accidental non cc-0
  gradle/libs.versions.toml
Due: none

feat: test integration progress
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#254)
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): update node (#255)
  package-lock.json
Due: none

feat: progress on set-head calls
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: comment failing test to merge
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: fix failing checkstyle checks
  .config/checkstyle/test.xml
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: print branch (#256)
  .config/checkstyle/test.xml
  gradle/libs.versions.toml
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: split semver builder integration test into 2 tests
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: split semver builder integration test into 2 tests (#257)
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: re-enable common ancestor failing test
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: checkout MergeBaseFinder
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: one step away from working, merge base finder might work
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: progress? seems that we aren't finding the merge base right, or looking when we shouldn't
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: fix minor impl an test
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: just add some basic tests
  module/git/src/test/java/com/xenoterracide/gradle/git/GitMetadataImplTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: calculate distance from common ancestor (#258)
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/git/src/test/java/com/xenoterracide/gradle/git/GitMetadataImplTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/test/GitServiceTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
