Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

style: apply prettier formatting
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: use constructor instead of builder for GitContext
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: rename State pattern to Strategy pattern
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionStateMachine.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionStrategyFactory.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

style: apply prettier formatting
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test(git): add unit tests to achieve 90% coverage
  module/git/src/test/java/com/xenoterracide/gradle/git/GitRemoteForGradleTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/GitStatusTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/NoExecSystemReaderTest.java
  module/git/src/test/java/com/xenoterracide/gradle/git/ProvidedFactoryTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor(semver): use Immutables builder and fix SpotBugs null warnings
  gradle/libs.versions.toml
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: disable InjectOnConstructorOfAbstractClass ErrorProne check
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  module/semver/.config/spotbugs/exclude.xml
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor(semver): remove internal package, use package-private
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategyFactory.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/package-info.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/package-info.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor(build): update ErrorProne configuration for Gradle plugins
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

build(semver): restore dependency locking
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/semver/.config/spotbugs/exclude.xml
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix(exclude): correct spelling of "incompatibility" in exclude.xml
  module/semver/.config/spotbugs/exclude.xml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: address Copilot review comments
  module/git/src/test/java/com/xenoterracide/gradle/git/NoExecSystemReaderTest.java
  module/semver/.config/spotbugs/exclude.xml
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build(environment): upgrade java to temurin 25.0.2+10
  .tool-versions
Due: none

chore: regenerate lockfiles with Java 25
  gradle.lockfile
  module/git/gradle.lockfile
Due: none

docs: update PR description and README with algorithm details
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: add version resolution warning for topic branches
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: topic branch uses same base version as HEAD branch
  .github/workflows/renovate.yml
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: downgrade to Java 21
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: fix comment about short SHA derivation
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: use Objects.equals instead of Predicate.isEqual
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

ci: use Java 21 instead of 25
  .github/workflows/build.yml
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: ensure published artifact requires Java 17 not 21
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  gradle/libs.versions.toml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: regenerate lockfile
  buildscript-gradle.lockfile
Due: none

revert: SemverBuilderIntegrationTest to 0.15.0 version
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: align version calculation with 0.15.0 behavior
  buildSrc/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: align version calculation with 0.15.0 behavior
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix(semver-tests): simplify version assertions
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: set Java release version to 17 in compileJava task
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix(semver-tests): simplify version assertions (#634)
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: add unit tests for version strategies and regression test
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

docs: update README with correct version behavior
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

test: add PrintVersionTaskTest and improve coverage
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/test/java/com/xenoterracide/gradle/semver/PrintVersionTaskTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: add correct nullity annotations to GitContext
  module/semver/src/main/java/com/xenoterracide/gradle/semver/GitContext.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: remove redundant Objects.requireNonNull calls
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: remove unused isTopicBranch method from GitContext
  module/semver/src/main/java/com/xenoterracide/gradle/semver/GitContext.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: pass GitContext to strategy constructors
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategyFactory.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

style: fix checkstyle RequireThis errors
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: remove dead code and add factory tests
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategyFactory.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: use Guava's MoreObjects.firstNonNull for null handling
  gradle/libs.versions.toml
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: update relocation paths for JGit and Guava in build.gradle.kts
  module/git/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

Path conditions:
  reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: ((((any of: *.java) or (any of: *.{md,adoc})) or (any of: *.{xml,yml,yaml,properties,toml,json5})) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.{md,adoc}
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: ((any of: *.{xml,yml,yaml,properties,toml,json5}) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
