Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
# Documentation
"*.{md,adoc}":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"*.{xml,yml,yaml,properties,toml,json5}":
  - &cc0 "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
".{editorconfig,gitattributes,mailmap}":
  - *cc0
  - *prettier
".*ignore":
  - *cc0
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore: replace npx with yarn for lint-staged and git-conventional-commits hooks; update .gitignore and add .yarnrc.yml
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .github/workflows/pre-commit.yml
  .gitignore
  .lintstagedrc.yml
  .prettierrc.yml
  .tool-versions.license
  REUSE.toml
  gradle/wrapper/gradle-wrapper.jar.license
  package-lock.json
  package.json
  prettierrc.js
  yarn.lock
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update README to replace NPM with Yarn 4 for dependency management and add setup instructions
  README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: migrate to yarn (#457)
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .github/workflows/pre-commit.yml
  .gitignore
  .lintstagedrc.yml
  .prettierrc.yml
  .tool-versions.license
  README.md
  REUSE.toml
  gradle/wrapper/gradle-wrapper.jar.license
  package-lock.json
  package.json
  prettierrc.js
  yarn.lock
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#458)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#461)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: rename prettierrc file and refactor CommitTools for thread safety; improve logging in SemverBuilderIntegrationTest
  .prettierrc.js
  module/git/src/testFixtures/java/com/xenoterracide/gradle/git/fixtures/CommitTools.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: fix formatting
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: rename prettierrc file and refactor CommitTools for thread safety; improve logging in SemverBuilderIntegrationTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: move logger initialization in SemverBuilderIntegrationTest for consistency
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: rename prettierrc file and refactor CommitTools for thread safety; improve logging in SemverBuilderIntegrationTest (#462)
  .prettierrc.js
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemoteForGradle.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/git/src/testFixtures/java/com/xenoterracide/gradle/git/fixtures/CommitTools.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): java (#464)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#465)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#466)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#468)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#469)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#471)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#472)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#473)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#474)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#477)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#478)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#479)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#480)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#481)
  buildscript-gradle.lockfile
Due: none
