Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

ci: findAny on first call
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: next stopping point
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitMetadataImpl.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/ProvidedFactory.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: maybe progress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/DistanceSupplier.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/HeadBranchNotAvailable.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitMetadataImpl.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/DistanceSupplierTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: fix javacompile issue
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/semver/src/test/java/com/xenoterracide/gradle/semver/DistanceSupplierTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: rc tags not calculating distance properly
  build.gradle.kts
  buildSrc/src/main/kotlin/our.coverage.gradle.kts
  src/main/java/com/xenoterracide/gradle/semver/GitMetadataExtension.java
  src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  src/main/java/com/xenoterracide/gradle/semver/internal/AbstractGitService.java
  src/test/java/com/xenoterracide/gradle/semver/GitMetadataExtensionTest.java
  src/test/java/com/xenoterracide/gradle/semver/SemverExtensionTest.java
  src/test/java/com/xenoterracide/gradle/semver/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: some kind of progress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/DistanceSupplier.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: update tools
  module/semver/gradle.lockfile
Due: none

feat: update tools (#226)
  module/semver/gradle.lockfile
Due: none

test(feat): preliminary tests passing
  module/semver/src/main/java/com/xenoterracide/gradle/semver/DistanceSupplier.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/DistanceSupplierTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test(ep): clean up
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitMetadataImpl.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/GitMetadataImplTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: still not
  module/semver/src/main/java/com/xenoterracide/gradle/semver/DistanceSupplier.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/DistanceSupplierTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#227)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  package-lock.json
Due: none

chore(deps): update node (#220)
  package-lock.json
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#230)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): update node (#231)
  package-lock.json
Due: none

feat: progress
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/DistanceSupplier.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/Describer.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitMetadataImpl.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/DistanceSupplierTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/GitMetadataImplTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: use finalize on read
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/ProvidedFactory.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: progress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/DistanceSupplier.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/MergeBaseFinder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/MergeBaseFinderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/CommitTools.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: extract distance calculation
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/Describer.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/DistanceCalculator.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitMetadataImpl.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitTools.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/MergeBaseFinder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/MergeBaseFinderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: progress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: sidegress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/DistanceCalculator.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitMetadataImpl.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitService.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/TryGit.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/CommitTools.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/GitMetadataImplTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/MergeBaseFinderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: progress
  gradle/libs.versions.toml
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitService.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoGitDir.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverPluginTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/GitServiceTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: progress
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/DistanceCalculator.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitService.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitTools.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoGitDir.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/GitMetadataImplTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/internal/GitServiceTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove NoGitDir
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoGitDir.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: re-number to meet same numbers as junit
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#233)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#235)
  buildscript-gradle.lockfile
Due: none

chore(deps): update node (#236)
  package-lock.json
Due: none

chore: more split progress
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#237)
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none
