Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#483)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#485)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#486)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#487)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#488)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#492)
  buildscript-gradle.lockfile
Due: none

chore: update Gradle to 9.2 and dependencies to latest versions
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: update Gradle properties and comment out configuration cache parallel option
  gradle.properties
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): java (#493)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: simplify Test task configuration by removing parallel execution settings
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: enable configuration cache parallel option in Gradle properties
  gradle.properties
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update test methods to include `ParameterDeclarations` parameter
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update Gradle to 9.2 and dependencies to latest versions (#494)
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): java (#495)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#496)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#497)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#498)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#499)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#500)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#501)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#502)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#503)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#506)
  buildscript-gradle.lockfile
Due: none

Path conditions:
  reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: ((((any of: *.java) or (any of: *.{md,adoc})) or (any of: *.{xml,yml,yaml,properties,toml,json5})) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.{md,adoc}
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: ((any of: *.{xml,yml,yaml,properties,toml,json5}) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
