Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: attempt to fix renovate
  .github/renovate.json5
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(renovate): add new renovate workflow
  .github/renovate.json5
  .github/workflows/renovate.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(renovate): add 5-minute cron schedule to workflow
  .github/workflows/renovate.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(renovate): reduce workflow timeout to 10 minutes
  .github/workflows/renovate.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(renovate): attempt to fix with new workflow
  .github/renovate.json5
  .github/workflows/renovate.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update AGENTS.md
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(lintstaged): add prettier formatting for Java files
  .lintstagedrc.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

style: fix checkstyle issues and add immutables dependency
  config/checkstyle/checkstyle.xml
  gradle/libs.versions.toml
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionStateMachine.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: remove immutables dependency that caused lock file issues
  gradle/libs.versions.toml
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

Update Renovate workflow to remove schedule
  .github/workflows/renovate.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

style: apply prettier formatting to Java files
  module/git/src/main/java/com/xenoterracide/gradle/git/MergeBaseFinder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionState.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: Update Renovate workflow to remove schedule (#630)
  .github/workflows/renovate.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

style: fix checkstyle violations
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/package-info.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(AGENTS): mention using var keyword
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: add @NullMarked to package-info.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/package-info.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: address code review feedback
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicBranch.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: VersionState.java brace position for checkstyle
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionState.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: suppress LeftCurly checkstyle for VersionState
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionState.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: VersionState LeftCurly checkstyle with working suppression
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionState.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: add SuppressionCommentFilter to checkstyle config
  .config/checkstyle/main.xml
  config/checkstyle/checkstyle.xml
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionState.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: fix formatting
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: add license
  LICENSES/CC-BY-NC-SA-4.0.txt
Due: none

chore: remove version task from Gradle build workflow
  .github/workflows/build.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: use var keyword and remove @Nullable from local variables
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/AfterTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/NoTagTopicBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/OnExactTagTopicBranch.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: use var in VersionStateMachine
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/VersionStateMachine.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: remove RecordComponentNumber module from Checkstyle configs
  .config/checkstyle/main.xml
  .config/checkstyle/test.xml
  .config/checkstyle/testFixtures.xml
  .config/checkstyle/testIntegration.xml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: address PR review feedback
  config/checkstyle/checkstyle.xml
  gradle/libs.versions.toml
  module/semver/build.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/package-info.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: remove dependency locking to resolve immutables resolution
  gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: set Java compile task release option to 17
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update agent guidelines to reference skills location
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: clarify guideline on package-protected methods for testing in SKILL.md
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: consolidate our.convention and our.javalibrary into single plugin
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  module/git/build.gradle.kts
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: reorder java-gradle-plugin declaration in our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: reorder spotbugs and errorprone dependency declarations in our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unused gradle plugins
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: add shadow plugin to semver module to shade jgit
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

style: apply prettier formatting
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/internal/GitContext.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: update tests for new state machine behavior
  module/semver/src/main/java/com/xenoterracide/gradle/semver/PrintVersionTask.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: use GitContext builder in SemverExtension
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: ((((any of: *.java) or (any of: *.{md,adoc})) or (any of: *.{xml,yml,yaml,properties,toml,json5})) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.{md,adoc}
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: ((any of: *.{xml,yml,yaml,properties,toml,json5}) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
