Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: automerge asdf (#280)
  .github/renovate.json5
Due: none

chore: make convention plugins runtimeOnly
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: make convention plugins runtimeOnly (#281)
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

ci: sync renovate config
  .github/renovate.json5
Due: none

ci: sync renovate config (#282)
  .github/renovate.json5
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#283)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  package-lock.json
Due: none

chore(deps): update node (#284)
  package-lock.json
Due: none

ci: give renovate more power
  .github/dependabot.yml
  .github/renovate.json5
Due: none

ci: remove update node
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

ci: allow auto-updating develocity
  .github/renovate.json5
Due: none

ci: update renovate rules to handle more things (#285)
  .github/dependabot.yml
  .github/renovate.json5
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

build: use checkstyle convention plugin
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.checkstyle.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

build: use checkstyle convention plugin (#286)
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.checkstyle.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

ci: run git set-head in publish
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: run git set-head in publish (#287)
  .github/workflows/gh-publish.yml
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: sync renovate rules
  .github/renovate.json5
Due: none

ci: sync renovate rules (#288)
  .github/renovate.json5
Due: none

ci: use rebase strategy
  .github/renovate.json5
Due: none

ci: enable auto updating gradle wrapper too
  .github/renovate.json5
Due: none

ci: automerge gradle wrapper (#289)
  .github/renovate.json5
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#293)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: add python requirements
  .github/workflows/gh-publish.yml
  package.json
  requirements.in
  requirements.txt
Due: prettier --cache --ignore-unknown --write

chore: add python requirements (#294)
  .github/workflows/gh-publish.yml
  package.json
  requirements.in
  requirements.txt
Due: prettier --cache --ignore-unknown --write

ci: schedule renovate
  .github/renovate.json5
Due: none

ci: update gradlew wrapper also ignored
  .github/renovate.json5
Due: none

ci: fix comment
  .github/renovate.json5
Due: none

ci: schedule to run just after our update-java
  .github/renovate.json5
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: schedule renovate (#296)
  .github/renovate.json5
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: try allowing all, hoping they never trigger
  .github/renovate.json5
Due: none

ci: try allowing all, hoping they never trigger (#298)
  .github/renovate.json5
Due: none

ci: fix schedule to use wildcard for minutes
  .github/renovate.json5
Due: none

ci: fix schedule to use wildcard for minutes (#299)
  .github/renovate.json5
Due: none

ci: change publish to on full
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: change publish to on full (#300)
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: update java deps every day
  .github/renovate.json5
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: update java deps every day (#301)
  .github/renovate.json5
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: sync pre-commit
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
