Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
# Documentation
"*.{md,adoc}":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"*.{xml,yml,yaml,properties,toml,json5}":
  - &cc0 "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
".{editorconfig,gitattributes,mailmap}":
  - *cc0
  - *prettier
".*ignore":
  - *cc0
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore: update AGENTS.md to correct SPDX-License-Identifier
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

test: verify distanceFromTag matches git describe
  module/git/src/test/java/com/xenoterracide/gradle/git/DistanceCalculatorTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update SKILL.md to include guidance on running specific tests before all tests
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to enhance testing guidelines and clarify tool usage
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to include 'get_check_runs' in allowed tools
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to clarify GitHub PR checks and workflow status verification
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update allowed-tools in SKILL.md to include additional pull request management commands
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: remove 'get_check_runs' from allowed-tools in SKILL.md
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: address Copilot review comments
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionOrderingIntegrationTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update SKILL.md to clarify response expectations for PR comments
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: enhance PR comment response guidelines in SKILL.md
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(agents): rename agent assets directory
  .agents/mcp/mcp.json
  .agents/mcp/mcp.json.license
  .agents/skills/commit-or-pr-message/SKILL.md
  .agents/skills/github/SKILL.md
  .agents/skills/java/SKILL.md
  .agents/skills/pull-request/SKILL.md
  .agents/skills/shell-script/SKILL.md
  .agents/skills/skill-creator/SKILL.md
  .agents/skills/use-case-creator/SKILL.md
  .agents/skills/use-case-creator/assets/uc-registration-example.adoc
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update Java build process and enhance README with contributing guidelines
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .config/git/hooks/prepare-commit-msg
  .github/workflows/update-java.yml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  build.gradle.kts
  module/git/README.md
  module/semver/README.md
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: restructure documentation and migrate git hooks to .share (#637)
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .config/git/hooks/prepare-commit-msg
  .github/workflows/update-java.yml
  AGENTS.md
  CONTRIBUTING.md
  Makefile
  README.md
  build.gradle.kts
  module/git/README.md
  module/semver/README.md
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: remove Provides interface implementation from GitExtension and SemverExtension classes
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/Provides.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: add ReturnCount module with max property to main.xml
  .config/checkstyle/main.xml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: add Javadoc comments for GitMetadata and Git providers in GitExtension and GitService
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update dependencies in build.gradle.kts and gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: add dependency locking to build.gradle.kts and create gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/buildscript-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: remove shadow plugin from semver, use api for git dependency
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: add shadow plugin and update build dependencies
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update build configurations and dependencies
  module/git/build.gradle.kts
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update dependency configurations in semver module
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: refine dependency configurations in git and semver modules
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: refine build and dependency configurations in git and semver modules
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: adjust dependency scopes and refine configurations in git and semver modules
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: refine dependency and shadow configurations in git and semver modules
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix(semver): publish runtime deps for dogfood builds
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
  module/git/build.gradle.kts
  module/git/gradle.lockfile
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/PublishedSemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix(build): avoid published semver plugin in bootstrap
  build.gradle.kts
  buildscript-gradle.lockfile
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/PublishedSemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix(build): stabilize CI dogfood resolution
  gradle/libs.versions.toml
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/PublishedSemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix(test): isolate published plugin bootstrap repo
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/PublishedSemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix(test): satisfy integration checkstyle
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/PublishedSemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix(build): simplify JVM arguments in gradle properties
  gradle.properties
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(semver): update plugin version to `0.15.2-alpha.0.92`
  gradle/libs.versions.toml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix(build): restore semver plugin dogfooding
  build.gradle.kts
  buildscript-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(build): update vavr dependencies to latest versions
  buildscript-gradle.lockfile
Due: none

fix(test): update PublishedSemverPluginIntegrationTest to match current build file format
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/PublishedSemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write
