Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'NONE' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

ci: fix precommit
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

ci: cache python
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

ci: setup caching
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

ci: remove caching of pip
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

ci: fix precommit (#211)
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: add mailmap
  .lintstagedrc.yml
  .mailmap
Due: none

chore: add mailmap (#212)
  .lintstagedrc.yml
  .mailmap
Due: none

feat: add branch output enum
  module/semver/src/main/java/com/xenoterracide/gradle/semver/BranchOutput.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: select default
  module/semver/src/main/java/com/xenoterracide/gradle/semver/BranchOutput.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: further docs
  module/semver/src/main/java/com/xenoterracide/gradle/semver/BranchOutput.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  package-lock.json
Due: none

chore(deps): update node (#213)
  package-lock.json
Due: none

feat: progress
  module/semver/src/main/java/com/xenoterracide/gradle/semver/BranchOutput.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/HeadBranchNotAvailable.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

docs: fix snippet
  module/semver/src/main/java/com/xenoterracide/gradle/semver/HeadBranchNotAvailable.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: more progess
  module/semver/src/main/java/com/xenoterracide/gradle/semver/RemoteForHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: use porcelain
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

feat: change branches again
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

chore(deps): update node (#215)
  package-lock.json
Due: none

chore: idea cron comments now
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

ci: remote comments and change branch names that are run on
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

ci: remote comments and change branch names that are run on (#216)
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

ci: use porcelain
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: don't put stdout in curlies
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: don't use curlies
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: try using a heredoc
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: just use append
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#217)
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/semver/gradle.lockfile
Due: none

ci: use tee in append mode
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: ensure license is updated properly
  .github/workflows/update-java.yml
  .prettierignore
  gradle/wrapper/gradle-wrapper.properties.license
Due: prettier --cache --ignore-unknown --write

ci(fix): git status, reuse with gradle files (#218)
  .github/workflows/update-java.yml
  .prettierignore
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradle/wrapper/gradle-wrapper.properties.license
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write

ci: change git checkout
  .github/workflows/pre-commit.yml
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#219)
  buildscript-gradle.lockfile
Due: none

ci: use npm cache
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

ci: auto-update
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
Due: prettier --cache --ignore-unknown --write

ci: fix precommit runs with auto-updates (#221)
  .github/workflows/pre-commit.yml
  .github/workflows/update-java.yml
  .github/workflows/update-node.yml
  buildscript-gradle.lockfile
Due: prettier --cache --ignore-unknown --write

ci: progress, get haircut
  module/semver/src/main/java/com/xenoterracide/gradle/semver/BranchOutput.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/RemoteForHeadBranch.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|./*.yml|./.github/*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'NONE' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|./*.yml|./.github/*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
