Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
# Documentation
"*.{md,adoc}":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"*.{xml,yml,yaml,properties,toml,json5}":
  - &cc0 "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
".{editorconfig,gitattributes,mailmap}":
  - *cc0
  - *prettier
".*ignore":
  - *cc0
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#575)
  buildscript-gradle.lockfile
Due: none

feat: add `version` task to print semantic version
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: improve `version` task with group, description, and action adjustments
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: refactor version task to use semver provider
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: add PrintVersionTask to print version string
  module/semver/src/main/java/com/xenoterracide/gradle/semver/PrintVersionTask.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: rename version task to semverVersion and update descriptions
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

Update module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

Update module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: reorder import statements in GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: ensure alpha prerelease is emitted for 0.0.0 version
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update SemverBuilder and tests to ensure alpha prerelease is emitted for 0.0.0
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: improve version handling in PrintVersionTask and SemverPlugin
  module/semver/src/main/java/com/xenoterracide/gradle/semver/PrintVersionTask.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: simplify distance retrieval in GitExtension
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update test cases in SemverPluginIntegrationTest for consistency
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: add version task (#576)
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitService.java
  module/git/src/main/java/com/xenoterracide/gradle/git/ProvidedFactory.java
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/PrintVersionTask.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverPlugin.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update README for plugin version and add usage examples
  README.md
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update copyright years in README.md
  README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update README for plugin version and add usage examples (#577)
  README.md
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update plugin-publish-plugin to version 2.0.0 and semver to 0.14.3-alpha.0.44
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore: update dependency versions in lockfile
  buildscript-gradle.lockfile
Due: none

chore: update dependency versions in lockfile (#578)
  buildscript-gradle.lockfile
Due: none

chore: update dependencies to latest versions
  module/git/buildscript-gradle.lockfile
Due: none

chore: update dependencies to version 0.15.0
  buildscript-gradle.lockfile
Due: none

chore: update distance handling in SemverBuilder and related classes
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: improve version assertion methods in SemverBuilderIntegrationTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: resolve tag distance calculation bug in SemverBuilder
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: remove unused variables from SemverBuilder
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

docs: move comment to javadoc
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: improve documentation for semver build metadata generation
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: distance tag bug (#580)
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverBuilderIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#579)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): java (#584)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): java (#585)
  buildscript-gradle.lockfile
Due: none
