Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: update deps, and dogfoo
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: update deps, and dogfoo (#259)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: always publish to github for dogfooding
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

chore: always publish to github for dogfooding (#260)
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

chore: remove spotless
  gradle/libs.versions.toml
Due: none

chore: remove spotless
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove spotless (#261)
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

build: restore accidentally removed build functionality
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: remove spotless
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: restore accidentally removed release functionality (#262)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: use vstring for release in tagging
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: use vstring for release in tagging (#263)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: fix gh-release path
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: fix gh-release path (#264)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#265)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  package-lock.json
Due: none

chore(deps): update node (#266)
  package-lock.json
Due: none

build: update public publishing
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write

build: fix publishing to the portal (#268)
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: fix release to gh missing steps
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: fix release to gh missing steps (#269)
  .github/workflows/gp-publish.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#270)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

ci: fix release to gh missing steps
  .github/renovate.json5
Due: none

ci: try to only check for major version updates (#274)
  .github/renovate.json5
Due: none

docs: use flatMap instead of map
  build.gradle.kts
  module/semver/README.md
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs: use getOrElse instead of just orElse.get
  build.gradle.kts
  module/semver/README.md
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs: rennovate skip non major updates take 2
  .github/renovate.json5
Due: none

docs: rennovate skip non major updates take 2 (#276)
  .github/renovate.json5
Due: none

docs: use flatMap and getOrElse (#275)
  build.gradle.kts
  module/semver/README.md
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs: move to our spotbugs convention plugin
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.spotbugs.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat: move and reduce spotbugs config
  .config/spotbugs/exclude.xml
  module/semver/.config/spotbugs/exclude.xml
Due: none

build: move to spotbugs convention plugin (#277)
  .config/spotbugs/exclude.xml
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.spotbugs.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
  module/semver/.config/spotbugs/exclude.xml
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs: just tag to release
  Makefile
  README.md
  package.json
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: just tag to release (#278)
  Makefile
  README.md
  package.json
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: only don't check everything for gradle and maven
  .github/renovate.json5
Due: none

chore: only don't check everything for gradle and npm (#279)
  .github/renovate.json5
Due: none

chore: automerge asdf
  .github/renovate.json5
Due: none

Path conditions:
  reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
