Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

refactor: use ObjectTools.illegalStateNull for null checks
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: use ObjectTools for all null checks in strategies
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: rename SemverBuilderIntegrationTest to SpecIntegrationTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: add prerelease tag on topic branch regression test to SpecIntegrationTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: remove redundant 'public' modifier from VersionStrategy interface
  module/semver/src/main/java/com/xenoterracide/gradle/semver/VersionStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: suppress checkstyle warning for JavaNCSS in SpecIntegrationTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: address Copilot PR review comments
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: remove direct JGit dependency from semver module
  module/semver/build.gradle.kts
  module/semver/gradle.lockfile
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

fix: HEAD branch versions must include git metadata
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

docs: fix README examples and test assertions
  module/semver/README.md
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

test: add Semver comparison assertions to verify metadata is ignored
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

fix: topic branch metadata uses merge base distance
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: topic branch metadata uses distance from tag (revert previous change)
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: topic branch prerelease uses distance from tag (HEAD branch style)
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: add Git documentation links for HEAD branch and merge base
  module/semver/README.md
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/AfterTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/NoTagTopicStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagHeadStrategy.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/OnExactTagTopicStrategy.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

test: use builder pattern in VersionStrategyTest and restore distance assertions
  module/semver/src/test/java/com/xenoterracide/gradle/semver/VersionStrategyTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

docs: fix no-git fallback example in README
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

docs: add link to semver.org in README
  module/semver/README.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: add jgit as direct test dependency
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

test: add DistanceVersionList to VersionSortTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionSortTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

test: add VersionOrderingIntegrationTest
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/VersionOrderingIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: write pull request skill
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix: correct merge base distance calculation
  module/git/src/main/java/com/xenoterracide/gradle/git/DistanceCalculator.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/test/java/com/xenoterracide/gradle/git/DistanceCalculatorTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SpecIntegrationTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update SKILL.md to specify that files should be committed
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: simplify calculateDistanceFromMergeBase
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

refactor: address PR review comments
  module/git/src/main/java/com/xenoterracide/gradle/git/DistanceCalculator.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update SKILL.md to change license from CC-BY-NC-4.0 to CC-BY-NC-SA-4.0
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/github/SKILL.md
  .ai/skills/java/SKILL.md
  .ai/skills/pull-request/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/use-case-creator/SKILL.md
  .lintstagedrc.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to add design principles section
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to modify allowed-tools and rename project
  .ai/skills/java/SKILL.md
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to clarify pull request description
  .ai/skills/pull-request/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to enhance Java description for clarity
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to enhance Java style and immutability guidelines
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to fix markdown link formatting and clarify package protected method visibility
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to add counter examples for using var and casting
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md to format counter example code and emphasize casting avoidance
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

refactor: address remaining PR review comments
  module/git/src/main/java/com/xenoterracide/gradle/git/DistanceCalculator.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update SKILL.md to expand explanation on using var for reduced coupling
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: enhance SKILL.md with improved structure and clarity on var usage and visibility principles
  .ai/skills/java/SKILL.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update SKILL.md and our.convention.gradle.kts for improved commit guidelines and compiler options
  .ai/skills/pull-request/SKILL.md
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update AGENTS.md to clarify skill usage and build checks
  AGENTS.md
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

Path conditions:
  reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: ((((any of: *.java) or (any of: *.{md,adoc})) or (any of: *.{xml,yml,yaml,properties,toml,json5})) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.{md,adoc}
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: ((any of: *.{xml,yml,yaml,properties,toml,json5}) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
