Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore(deps): java (#375)
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#379)
  buildscript-gradle.lockfile
  module/git/buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: fix asdf
  .envrc
Due: none

chore: fix asdf (#384)
  .envrc
Due: none

test(fix): error prone finding
  module/git/src/testFixtures/java/com/xenoterracide/gradle/git/fixtures/CommitTools.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): java (#381)
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/git/src/testFixtures/java/com/xenoterracide/gradle/git/fixtures/CommitTools.java
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): update dev dependencies
  .github/renovate.json5
  REUSE.toml
  package-lock.json
  package.json
  requirements.txt
Due: none

chore(deps): update dev dependencies (#385)
  .github/renovate.json5
  REUSE.toml
  package-lock.json
  package.json
  requirements.txt
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
Due: none

chore(deps): java (#386)
  buildSrc/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/git/buildscript-gradle.lockfile
Due: none

chore(deps): java (#388)
  module/git/buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  gradle/wrapper/gradle-wrapper.properties
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#389)
  gradle/wrapper/gradle-wrapper.properties
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(formatting): update prettier java version
  module/git/src/main/java/com/xenoterracide/gradle/git/GitExtension.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitMetadataImpl.java
  module/git/src/main/java/com/xenoterracide/gradle/git/NoExecSystemReader.java
  module/git/src/test/java/com/xenoterracide/gradle/git/MergeBaseFinderTest.java
  module/git/src/testIntegration/java/com/xenoterracide/gradle/git/test/integration/GitPluginIntegrationTest.java
  module/semver/src/main/java/com/xenoterracide/gradle/semver/SemverBuilder.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/SemverBuilderTest.java
  module/semver/src/testIntegration/java/com/xenoterracide/gradle/semver/test/integration/SemverPluginIntegrationTest.java
Due: reuse annotate --license 'Apache-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): update develocity
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): update develocity (#390)
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#391)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#393)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#394)
  buildSrc/gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#395)
  module/semver/gradle.lockfile
Due: none

chore(deps): update matchManagers in renovate configuration
  .github/renovate.json5
Due: none

chore(deps): update matchManagers in renovate configuration (#397)
  .github/renovate.json5
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#398)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#399)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#401)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/git/buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

build(gradle): upgrade gradle to v9
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/git/buildscript-gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

docs: add Gradle and Java version compatibility information to README
  README.md
Due: none

docs: update Gradle and Java version compatibility information in README
  README.md
Due: none
