Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#434)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore: Fix spacing in workflow `ref` configuration
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: Fix spacing in workflow `ref` configuration (#435)
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: Refactor pre-commit.yml to use reusable checkout step
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore/dedupe checkout (#436)
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#437)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#441)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#442)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#443)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#444)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#445)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(deps): java (#446)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(deps): java (#447)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#448)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#449)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: update develocity plugin version to 4.2 and adjust related hashes
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update develocity plugin version to 4.2 and adjust related hashes (#450)
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update SpotBugs plugin coordinates in libs.versions.toml
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update gradle.properties
  buildscript-gradle.lockfile
  gradle.properties
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore/gradle properties (#451)
  buildscript-gradle.lockfile
  gradle.properties
  module/git/src/main/java/com/xenoterracide/gradle/git/GitRemote.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(deps): java (#452)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore: remove unused test report configurations and afterSuite logging
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): java (#455)
  buildscript-gradle.lockfile
Due: none

chore: refactor GitDirectoryValueSource to use Directory type and add logging; introduce tests for GitDirkectoryValueSource
  module/git/src/main/java/com/xenoterracide/gradle/git/GitDirectoryValueSource.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitPlugin.java
  module/git/src/test/java/com/xenoterracide/gradle/git/GitDirectoryValueSourceTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update TempDir cleanup mode to ON_SUCCESS for test files
  module/git/src/test/java/com/xenoterracide/gradle/git/GitDirectoryValueSourceTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat: return Directory from valuesource (#456)
  module/git/src/main/java/com/xenoterracide/gradle/git/GitDirectoryValueSource.java
  module/git/src/main/java/com/xenoterracide/gradle/git/GitPlugin.java
  module/git/src/test/java/com/xenoterracide/gradle/git/GitDirectoryValueSourceTest.java
  module/semver/src/test/java/com/xenoterracide/gradle/semver/test/SemverPluginTest.java
Due: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: ((((any of: *.java) or (any of: *.{md,adoc})) or (any of: *.{xml,yml,yaml,properties,toml,json5})) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.{md,adoc}
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: ((any of: *.{xml,yml,yaml,properties,toml,json5}) or (any of: .{editorconfig,gitattributes,mailmap})) or (any of: .*ignore)
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
