Repository xenoterracide/gradle-semver: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license 'GPL-3.0-or-later WITH Classpath-exception-2.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
# Documentation
"*.{md,adoc}":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"*.{xml,yml,yaml,properties,toml,json5}":
  - &cc0 "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
".{editorconfig,gitattributes,mailmap}":
  - *cc0
  - *prettier
".*ignore":
  - *cc0
  - *prettier
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore(deps): java (#555)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#556)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#557)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#558)
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#559)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#560)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#561)
  buildscript-gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#562)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#563)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#564)
  buildscript-gradle.lockfile
  module/git/gradle.lockfile
  module/semver/gradle.lockfile
Due: none

chore(deps): java (#565)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#566)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#567)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#568)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#569)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#570)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#571)
  buildscript-gradle.lockfile
Due: none

chore: update dependencies and adjust license configuration
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: update dependencies and adjust license configuration (#572)
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: set Java compilation target to JDK 17
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove duplicate Java compilation target configuration
  module/git/build.gradle.kts
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore/fix release (#573)
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  module/git/build.gradle.kts
  module/semver/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove REUSE licensing annotations and Python dependencies from workflows
  .github/workflows/update-java.yml
  REUSE.toml
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties.license
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: remove REUSE licensing annotations and Python dependencies from workflows (#574)
  .github/workflows/update-java.yml
  REUSE.toml
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties.license
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights
